@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lato:wght@300&family=Roboto:wght@300;400;700&family=Satisfy&display=swap');

*{
  margin: 0;
  padding: 0;
font-family: 'Lato', sans-serif;

}
body{
  background-color: black !important;
}

.main-container{
  /* height: 200vh; */
  width: 100%;
}
.main-container .Section-1-MainPage{
height: 100vh;
}



.main-container .navbar{
  height: 60px;
 display: flex;
 align-items: center;
 justify-content:space-between;
background-color: black;

}
.main-container .navbar .lakbay-logo-container{
display: flex;
align-items: center;
justify-content: center;
padding-left: 6rem;
color: #fdbb2d;
}

.main-container .navbar .nav-lists{
display: flex;
gap: 3rem;
list-style: none;
color: white;
}

.main-container .Section-1-MainPage .main-page-container{
position: relative;
height: 100vh;
width: 100%;
display: grid;
align-items: center;
justify-content: center;
}

.main-container .navbar .BookNow-container{
  padding-right: 6rem;
} 

.main-container .navbar .BookNow-container button{
  border-radius: 15px;
  padding: 5px;
  width: 6rem;
  outline: none;
  border: none;
  background-color: #fdbb2d;
  font-weight: 1000;
}
.main-container .Section-1-MainPage .main-page-container video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main-container .Section-1-MainPage .main-page-container::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 112.5vh;
 
  background: rgba(0, 0, 0, 0.2); /* Dark overlay color */
}
.main-container .Section-1-MainPage .main-page-container .page-description-container{
  color: azure;
  height: 100%;
  width: 100%;
  position: absolute;
  display: grid;
  grid-gap: 1rem;
text-align: center;
}
.main-container .Section-1-MainPage .main-page-container .page-description-container .title-container{
  margin-top: 4rem;
}
.main-container .Section-1-MainPage .main-page-container .page-description-container .title-container h1{
  font-size: 30px;
}

.main-container .Section-1-MainPage .main-page-container .page-description-container .title-container h1 span{
  font-size: 90px;
font-weight: bold;
color: #fdbb2d;
}

.main-container .Section-1-MainPage .main-page-container .phrase-container{
  font-weight: 600;
  font-size: medium;
}


.main-container .Section-1-MainPage .main-page-container  .feature-tours-container .font{
  padding-left: 1rem;
}
.main-container .Section-1-MainPage .main-page-container  .feature-tours-container .tours{
  color:#fdbb2d;
}



.Section-2-halfPage{
  height: 100vh;
  margin-top: 20rem;
}

.Section-2-halfPage .main-container .upper-half-container{
  height: 600px;
  display: grid;
grid-template-columns: repeat(3,1fr);
}
.Section-2-halfPage .main-container .upper-half-container .pic{
position: relative;
}
.Section-2-halfPage .main-container .upper-half-container .pic .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* adjust the overlay color and transparency as desired */
  opacity: 0;
  transition: opacity 0.3s ease; /* add a smooth transition effect */
}
.Section-2-halfPage .main-container .upper-half-container .pic .text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* set the text color */
  font-size: 20px; /* set the text font size */
  opacity: 0;
  transition: opacity 0.3s ease; /* add a smooth transition effect */
}

.Section-2-halfPage .main-container .upper-half-container .pic:hover .overlay{
  opacity: 1;
}
.Section-2-halfPage .main-container .upper-half-container .pic:hover .text{
  opacity: 1;
}
.Section-2-halfPage .main-container .upper-half-container .pic-left{
 background-image: url(src/assets/Left.jpg);
 background-size: cover;
 background-position: center;
}


.Section-2-halfPage .main-container .upper-half-container .pic-middle{
 background-image: url(src/assets/middle.jpg);
 background-size: cover;
 background-position: center;
}
.Section-2-halfPage .main-container .upper-half-container .pic-right {
  background-image: url(src/assets/Right.jpg);
  background-size: cover;
  background-position: center;
}

/*SLider*/
.Section-2-halfPage .main-container .slider-container{
  place-items: center;
  margin: auto;
  height: 250px;
  width: 90;
  display: grid;
  position: relative;
  overflow: hidden;
  background: linear-gradient(8deg, rgba(20,21,31,1) 0%, rgba(20,21,31,0) 54%, rgba(41,42,55,1) 94%);
}
.Section-2-halfPage .main-container  .slider-container .slide-track{
display: flex;
width: calc(250px * 18);
animation: scroll 40s linear infinite;
}
@keyframes scroll{
0%{
  transform:translateX(0);
}
100%{
  transform: translateX(calc(-250px *9));
}

}
.Section-2-halfPage .main-container  .slider-container .slide-track .slide{
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.Section-2-halfPage .main-container  .slider-container .slide-track .slide img{
  width: 100%;
  transition: transform 1s;

}
.Section-2-halfPage .main-container  .slider-container .slide-track .slide img:hover{
  transform: translateZ(20px);
}

.Section-2-halfPage .main-container .slider-container::before{
background: linear-gradient(87deg, rgba(145, 139, 139) 0%, rgba(255,255,255,0) 100%);
content: "";
height: 100%;
position: absolute;
width: 15%;
z-index: 2;
}
.Section-2-halfPage .main-container .slider-container::after{
  background: rgb(255,255,255);
  background: linear-gradient(87deg, rgb(145, 139, 139) 0%, rgba(255,255,255,0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.Section-2-halfPage .main-container .slider-container::before{
  left: 0;
  top: 0;
}
.Section-2-halfPage .main-container .slider-container::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}


/*SECTION 3*/

.Section-3-Video{
  height: 150vh;
  width: 100%;
}
.Section-3-Video .main-container{
 height: 100vh;
}

.Section-3-Video .main-container .message-container{
  color: white;
  padding-left: 6rem;
}
.Section-3-Video .main-container .message-container h1{
  font-size: 90px;
  color: #fdbb2d;
}

.Section-3-Video .main-container .message-container p{
  font-size: 25px;
}
.hidden{
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}




.Section-4-SliderBackground{
  height: 100vh;
}

.Section-4-SliderBackground .carousel .carousel-inner .carousel-item{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.Section-4-SliderBackground .carousel .carousel-inner .carousel-item img{
height: 100%;
width: 100%;
object-fit: cover;
object-position: center;

}


.Section-5-DiscoverPH{
  height: 100vh;
}

.Section-5-DiscoverPH .main-container{
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Section-5-DiscoverPH .main-container .header-container{
  padding:1rem ;
  text-align: center;
}

.Section-5-DiscoverPH .main-container .header-container .title-container h1{
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Section-5-DiscoverPH .main-container .header-container .subtext-container p{
  color: white;
}

.Section-6-Vertical-Images{
  height: 500vh;
}

.Section-6-Vertical-Images .main-container{
  display: grid;
  justify-content: center;
  align-items: center;
  gap:20rem;
}


.Section-6-Vertical-Images .main-container .description-container{
height: 60vh;
display: flex;

}
.Section-6-Vertical-Images .main-container .description-container .img-container{
  padding-right: 2rem;
}
.Section-6-Vertical-Images .main-container .description-container .img-container img{
height: 400px;
object-fit: cover;
object-position: center;
border-radius: 15px;
}

.Section-6-Vertical-Images .main-container .description-container .title-container{
padding: 5rem;
}

.Section-6-Vertical-Images .main-container .description-container .title-container .title h1{
  font-size: 70px;
  font-weight:900;
  background: -webkit-linear-gradient(#06bef6, #68b0da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Section-6-Vertical-Images .main-container .description-container .title-container .definition-container p{
  color: whitesmoke;
  padding-top: 1rem;
  font-weight: 600;
  
}


.Section-6-Vertical-Images .main-container .TubatahaReefs-container{
height: 60vh;
display: flex;
}


.Section-6-Vertical-Images .main-container .TubatahaReefs-container .img-container img{
  height: 400px;
  object-fit: contain;
  object-position: center;
  border-radius: 15px;
}

.Section-6-Vertical-Images .main-container .TubatahaReefs-container .tub-description-container{
  padding: 5rem;
}

.Section-6-Vertical-Images .main-container .TubatahaReefs-container .tub-description-container .title-container h1{
  font-size: 70px;
  font-weight:900;
  background: -webkit-linear-gradient(#6068b5, #1e0ae8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.Section-6-Vertical-Images .main-container .TubatahaReefs-container .tub-description-container .definition-container{
color: whitesmoke;
font-weight: 600;
}


.Section-6-Vertical-Images .main-container .TubatahaReefs-container .item:nth-child(1){
  order: 2;
}
.Section-6-Vertical-Images .main-container .TubatahaReefs-container .item:nth-child(2){
  order: 1;
}


.Section-6-Vertical-Images .main-container .PristineBeach-container{
height: 60vh;
display: flex;
}
.Section-6-Vertical-Images .main-container .PristineBeach-container .img-container-Beach{
  padding-right: 2rem;
}

.Section-6-Vertical-Images .main-container .PristineBeach-container .img-container-Beach img{
  height: 400px;
  object-fit: contain;
  object-position: center;
  border-radius: 15px;
}

.Section-6-Vertical-Images .main-container .PristineBeach-container .beach-description-container{
  padding: 5rem;
}


.Section-6-Vertical-Images .main-container .PristineBeach-container .beach-description-container .title-container h1{
  font-size: 70px;
  font-weight:900;
  background: -webkit-linear-gradient(#fcb045, #fd1d1d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.Section-6-Vertical-Images .main-container .PristineBeach-container .beach-description-container .beach-definition-container{
  padding-top: 2rem;
}
.Section-6-Vertical-Images .main-container .PristineBeach-container .beach-description-container .beach-definition-container p{
  color: whitesmoke;
  font-weight: 600;
}



.Section-6-Vertical-Images .main-container .festivities-container{
  height: 60vh;
  display: flex;
}

.Section-6-Vertical-Images .main-container .festivities-container .festive-img-container img{
  height: 400px;
  object-fit: contain;
  object-position: center;
  border-radius: 15px;
}


.Section-6-Vertical-Images .main-container .festivities-container .festive-description-container{
  padding: 5rem;
}

.Section-6-Vertical-Images .main-container .festivities-container .festive-description-container .title-container h1{
  font-size: 70px;
  font-weight:900;
  background: -webkit-linear-gradient(#ffffff, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Section-6-Vertical-Images .main-container .festivities-container .festive-description-container  .festive-definition-container p{
color: white;
font-weight: 600;
}


.Section-6-Vertical-Images .main-container .festivities-container .link:nth-child(1){
order: 2;
}


.Section-6-Vertical-Images .main-container .the-rice-container{
  height: 60vh;
  display: flex;
}

.Section-6-Vertical-Images .main-container .the-rice-container .rice-img-container img{
  height: 400px;
  object-fit: contain;
  object-position: center;
  border-radius: 15px;
}
.Section-6-Vertical-Images .main-container .the-rice-container .rice-description-container{
  padding: 5rem;
}
.Section-6-Vertical-Images .main-container .the-rice-container .rice-description-container .rice-title-container h1{
  font-size: 70px;
  font-weight:900;
  background: -webkit-linear-gradient(#00755e, #31e9c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Section-6-Vertical-Images .main-container .the-rice-container .rice-description-container .rice-definition-container{
  color: whitesmoke;
  font-weight: 600;
}



.Section-6-Vertical-Images  .footer-container{
  background-image: url("src/Section-6-Images/footer.jpeg");
  height: 70vh;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
 
}
.Section-6-Vertical-Images  .footer-container .main-container{
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Section-6-Vertical-Images  .footer-container .main-container .footer-description-container .header-container h1{
color: whitesmoke;
font-weight: 600;
font-size: 70px;
}

.Section-6-Vertical-Images  .footer-container .main-container .footer-description-container .subtxt-container{
  color: black;
}

.Section-6-Vertical-Images  .footer-container .main-container .footer-description-container{
z-index: 1;
}

.Section-6-Vertical-Images  .footer-container .main-container .btn-container{
  z-index: 1;
}


.Section-6-Vertical-Images  .footer-container .main-container .btn-container button{
  border-radius: 15px;
  padding: 10px 30px;
  border-style:solid;
  border-width: 1px;
  border-color: whitesmoke;
  background-color: transparent;
  color: whitesmoke;
}
.Section-6-Vertical-Images  .footer-container::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Set the background color with opacity using RGBA */
  background-color: rgba(170, 89, 19, 0.829); /* Here, 0.5 represents 50% opacity */
  /* Apply a blur filter to the overlay */
  backdrop-filter: blur(4px); /* Adjust the blur value as needed */
  
}